.about-section {
	padding: 100px 0 120px;
}

.about-section .title-container h2,
.about-section .title-container .h2 {
	color: #fff;
}

.about-section .title-container span {
	color: #41383B;
}

.about-section .col-lg-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.about-section img {
	display: block;
	max-width: 100%;
	border-radius: 30px;
}

.about-section .text-holder {
	padding-left: 50px;
}

.about-section .text-holder {
	letter-spacing: 0.5px;
}

.about-section p {
	margin: 0 0 20px;
}

.about-section b span {
	font-size: 24px;
}

.about-section h3 {
	font-size: 24px;
	margin: 30px 0 5px;
}

.about-section ul {
	padding-left: 14px;
	margin: 0 0 20px;
}

@media(max-width: 1699px) {
	.about-section .text-holder {
		padding-left: 30px;
	}

	.about-section b span {
		font-size: 20px;
	}
}

@media(max-width: 991px) {
	.about-section .text-holder {
		padding-left: 0;
	}

	.about-section .img-holder {
		margin-bottom: 20px;
	}

	.about-section img {
		border-radius: 10px;
	}

	.about-section {
		padding: 80px 0;
	}
}

@media(max-width: 767px) {
	.about-section b span {
		font-size: 18px;
	}

	.about-section h3 {
		font-size: 18px;
	}
}

